#text1{
    position: relative;
}
#text2{
    position: absolute;
   color: white;
      top: 10px;
      left: 540px;
}
#nav2{
    position: absolute;
    color: whitesmoke;
    top: 80px;
    left: 450px;

}

#text3{
    position: absolute;
color: aliceblue;
top: 250px;
left: 450px;
font-size: 80px; 
font-style: italic;
}
#txt{
    position: absolute;
    color: white;
    font-size: 30px;
    font-style: italic;
    background-color: green;

}